{% extends 'base.html.twig' %}
{% block body_id 'namjena_index' %}

{% block main %}
    <h1>{{ 'Namjene' }} ({{ pagination.getTotalItemCount }})</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ "Id" }}</th>
            <th scope="col">{{ "Naziv Namjene" }}</th>
            <th scope="col">{{ "Opis Namjene" }}</th>
        </tr>
        </thead>
        <tbody>
        {% for namjena in pagination %}
            <tr>
                <td>{{ namjena.namjenaId }}</td>
                <td>{{ namjena.nazivNamjene }}</td>
                <td>{{ namjena.opisNamjene }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('namjena_show', {namjenaId: namjena.namjenaId}) }}" class="btn btn-sm btn-info">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'prikazi' }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('namjena_edit', {namjenaId: namjena.namjenaId}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'uredi' }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'Nema namjena!' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="section actions">
        <a href="{{ path('namjena_nova') }}" class="btn btn-bg btn-dark">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'dodaj novu' }}
        </a>
    </div>
    {% endif %}
    <br>
{% endblock %}

{% block sidebar %}
    <br>
    <div class="alert alert-info" role="alert">
        <h7><b>Pretraživanje</b></h7>
    </div>
    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   value="{{ app.request.query.get('q') }}"
                   placeholder="Search..."
            >
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-outline-primary">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>

{% endblock %}
