{% extends 'base.html.twig' %}
{% block body_id 'hardware_index' %}

{% block main %}
    <h1>Hardveri ({{ pagination.getTotalItemCount }})</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ "Naziv" }}</th>
            <th scope="col">{{ "Vlasništvo" }}</th>
            <th scope="col">{{ "Organizacija" }}</th>
            <th scope="col">{{ "Lokacija" }}</th>
            <th scope="col">{{ "Namjena" }}</th>
            {#<th scope="col">{{ "Broj inventara" }}</th>
            <th scope="col">{{ "Kontakt osoba" }}</th>
            <th scope="col">{{ "Mode i godina proizvodnje" }}</th>
            <th scope="col">{{ "Opis" }}</th>
            <th scope="col">{{ "Datum nabave" }}</th>
            <th scope="col">{{ "Vijek trajanja" }}</th>
            <th scope="col">{{ "Datum isteka jamstva" }}</th>
            <th scope="col">{{ "Vrijednost" }}</th>
            <th scope="col">{{ "Trenutna vrijednost" }}</th>
            <th scope="col">{{ "Ustanova" }}</th>
            <th scope="col">{{ "Kategorija" }}</th>#}
        </tr>
        </thead>
        <tbody>
        {% for hardware in pagination %}
            <tr>
                <td>{{ hardware.nazivHardware }}</td>
                <td>{{ hardware.vlasnistvo.nazivVlasnika }}</td>
                <td>{{ hardware.organizacija.nazivOrganizacije }}</td>
                <td>{{ hardware.brojUcionice.brojUcionice }}</td>
                <td>{{ hardware.namjena.nazivNamjene }}</td>
                {#<td>{{ hardware.brojInventara }}</td>
                <td>{{ hardware.kontaktOsoba }}</td>
                <td>{{ hardware.modelIGodinaProizvodnje }}</td>
                <td>{{ hardware.opis }}</td>
                <td>{{ hardware.datumNabave|date('Y-m-d') }}</td>
                <td>{{ hardware.vijekTrajanja }}</td>
                <td>{{ hardware.datumIstekaJamstva|date('Y-m-d') }}</td>
                <td>{{ hardware.vrijednost }}</td>
                <td>{{ hardware.trenutnaVrijednost }}</td>
                <td>{{ hardware.ustanova.nazivUstanove }}</td>
                <td>{{ hardware.kategorija.nazivKategorije }}</td>#}
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('hardware_show', {brojInventara: hardware.brojInventara}) }}"
                           class="btn btn-sm btn-info">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'prikazi' }}
                        </a>
                        <a href="{{ path('hardware_edit', {brojInventara: hardware.brojInventara}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'uredi' }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'Nema hardvera!' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    <div class="section actions">
        <a href="{{ path('hardware_novi') }}" class="btn btn-bg btn-dark">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'dodaj novi' }}
        </a>
    </div>
    <br>
{% endblock %}

{% block sidebar %}
    <br>
    <div class="alert alert-info" role="alert">
        <h7><b>Pretraživanje</b></h7>
    </div>
    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   value="{{ app.request.query.get('q') }}"
                   placeholder="Search..."
            >
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-outline-primary">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>

{% endblock %}
