{% extends 'base.html.twig' %}
{% block body_id 'kategorija_index' %}

{% block body %}
    <h1>{{ 'Kategorije' }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ "Id" }}</th>
            <th scope="col">{{ "Naziv Kategorije" }}</th>
            <th scope="col">{{ "Opis Kategorije" }}</th>
        </tr>
        </thead>
        <tbody>
        {% for kategorija in kategorije %}
            <tr>
                <td>{{ kategorija.kategorijaId }}</td>
                <td>{{ kategorija.nazivKategorije }}</td>
                <td>{{ kategorija.opisKategorije }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('kategorija_show', {kategorijaId: kategorija.kategorijaId}) }}" class="btn btn-sm btn-info">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'prikazi' }}
                        </a>
                        <a href="{{ path('kategorija_edit', {kategorijaId: kategorija.kategorijaId}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'uredi' }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'Nema kategorija!' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="section actions">
        <a href="{{ path('kategorija_nova') }}" class="btn btn-bg btn-dark">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'dodaj novu' }}
        </a>
    </div>
    <br>
{% endblock %}
