{% extends 'base.html.twig' %}

{% block body_id 'lok_spec_show' %}

{% block body %}
    <br>
    <div class="alert alert-warning" role="alert">
        <h2>Pregled specijalizacije ucionice broj: {{ lokacija.ucionicaBroj }}</h2>
    </div>
    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ "Naziv specijalizacije" }}</th>
            <th scope="col">{{ "Opis specijalizacije" }}</th>
        </tr>
        </thead>
        <tbody>
        {% for specijalizacija in specijalizacije %}
        <tr>
            <td>{{ specijalizacija.nazivSpecijalizacije }}</td>
            <td>{{ specijalizacija.opisSpecijalizacije }}</td>
            <td class="text-right">
                <div class="item-actions">
                    <a href="{{ path('lok_spec_edit', {ucionicaBroj: lokacija.ucionicaBroj}) }}" class="btn btn-sm btn-success">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Izmjeni specijalizaciju' }}
                    </a>
                    <a class="btn btn-primary btn-sm" href="{{ path('lokacija_specijalizacija') }}">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> {{ 'Dodaj novu specijalizaciju' }}
                    </a>
                </div>
                <br>
                <div class="section">
                    {{ include('entitiesActions/deleteLokacijaSpecijalizacija.html.twig', {lokacija: lokacija}, with_context = false) }}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

