{% extends 'base.html.twig' %}

{% block body_id 'organizacija_show' %}

{% block body %}
    <br>
    <div class="alert alert-warning" role="alert">
        <h2>Pregled organizacije id-a: {{ organizacija.organizacijaId }}</h2>
    </div>
    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ "Naziv organizacije" }}</th>
            <th scope="col">{{ "Opis organizacije" }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ organizacija.nazivOrganizacije }}</td>
            <td>{{ organizacija.opisOrganizacije }}</td>
            <td class="text-right">
                <div class="item-actions">
                    <a href="{{ path('organizacija_edit', {organizacijaId: organizacija.organizacijaId}) }}" class="btn btn-sm btn-success">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'uredi' }}
                    </a>
                </div>
                <br>
                <div class="section">
                    {{ include('entitiesActions/deleteOrganizacija.html.twig', {organizacija: organizacija}, with_context = false) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
