{% extends 'base.html.twig' %}

{% block body_id 'hw_sw_edit' %}

{% block main %}
    <br>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="alert alert-info" role="alert">{{ 'Instaliraj software:' }} {{ software.nazivSoftware}} {{ ', na hardveru:'}}  {{ hardware.nazivHardware }}</div>
    {{ form_start(form) }}
    {{ form_row(form.datumAktivacije) }}
    {{ form_row(form.datumIstekaLicence) }}
    <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'potvrdi' }}
    </button>
    {{ form_end(form) }}
{% endblock %}

