<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        {% if app.user %}
            <a class="navbar-brand" href="{{ path('app_index') }}">OSS-oprema</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% else %}
            <a class="navbar-brand" href="{{ path('homepage') }}">OSS-oprema</a>
        {% endif %}
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-right">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {{ include('default/_flash_messages.html.twig') }}
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                    <style>

                        .sidenav {
                            height: 100%;
                            width: 10%;
                            position: fixed;
                            z-index: 1;
                            top: 0;
                            left: 0;
                            background-color: lightgrey;
                            overflow-x: hidden;
                            padding-top: 100px;
                        }

                        .sidenav a {
                            padding: 10% 8% 10% 30%;
                            text-decoration: none;
                            font-size: 100%;
                            color: black;
                            display: block;
                        }

                        .sidenav a:hover {
                            color: #f1f1f1;
                        }

                        @media screen and (max-height: 450px) {
                            .sidenav {padding-top: 15px;}
                            .sidenav a {font-size: 18px;}
                        }
                    </style>
                    </head>
                    <div class="sidenav">
                        <a href="{{ path('software_index') }}">
                            <i class="glyphicon glyphicon-list-alt"></i>Software
                        </a>
                        <a href="{{ path('hardware_index') }}">
                            <i class="glyphicon glyphicon-hdd"></i>Hardware
                        </a>
                        <a href="{{ path('lokacija_index') }}">
                            <i class="glyphicon glyphicon-map-marker"></i>Lokacije
                        </a>
                    </div>
                    </head>
                    <br>
                    <b>Obavijest!</b>
                    <div class="alert alert-info" role="alert">
                        <p>Aplikacija je prvenstveno namijenjena <b>znanstvenicima</b> i <b>gospodarstvenicima</b> kako
                            bi na brz i jednostavan način saznali gdje se nalazi oprema koja bi im dobro došla za
                            istraživanje ili sami rad.<br>

                            Također je aplikacija prilagođena za pomoć kod <b>vođenja opreme u nabavnoj funkciji</b>
                            svake organizacije/ustanove jer se u svakom trenutku može znati gdje se nalazi pojedina
                            oprema.<br>

                            Planiramo napraviti i sustav pomoći kako bi bile prikazane sve funkcionalnosti aplikacije i
                            kako bi se olakšala sama uporaba aplikacije.</p>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - OSS-oprema</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
